[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ravitalisma
[access "refs/for/refs/*"]
	read = group user/ravitalisma
	push = group user/ravitalisma
	label-Code-Review = -2..+2 group user/ravitalisma
	label-Verified = -1..+1 group user/ravitalisma
	rebase = group user/ravitalisma
	removeReviewer = group user/ravitalisma
	submit = group user/ravitalisma
[access "refs/heads/*"]
	read = group user/ravitalisma
	create = group user/ravitalisma
	push = +force group user/ravitalisma
	pushMerge = group user/ravitalisma
[access "refs/tags/*"]
	push = group user/ravitalisma
	push = +force group user/ravitalisma
